# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
.cache/

# Firebase
.firebase/
firestore-debug.log
firebase-debug.*
*.runtimeconfig.json

# Env files (keep secrets out of GitHub!)
.env
.env.*.local
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other
*.swp
